<footer class="footer py-3 text-white" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-1">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Blogs</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Careers</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Profiles</a></li>
        </ul>
      </div>
      <div class="col-lg-6 order-lg-2">
        <h5>Feature</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">About Us</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Contact Us</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Our Mission</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center mt-3">© 2024 Dev-Zone.com</p>
  </div>
</footer>
