<% if user && user.skills.present? %>
  <p class="lead" id="member-skill">
    <% user.skills.sort.each do |skill| %>
      <%= skill %><br>
    <% end %>
  </p>
<% else %>
  <p class="lead" id="member-skill">No skills available</p>
<% end %>
