<%= form_with model: current_user, url: update_member_skill_path, method: :patch do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <h4>Select Skills</h4>
        <div class="form-group">
          <div class="checkbox-container" style="max-height: 300px; overflow-y: auto;">
            <% User::SKILLS.sort.each do |skill| %>
              <div class="form-check ">
                <%= form.check_box :skills, { multiple: true, class: 'form-check-input' }, skill, nil %>
                <%= form.label skill, class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
     <%= form.submit 'Save Changes', class: 'btn btn-dark', data: { action: 'click->bs-modal#submitEnd' } %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
